/* Css de la page index */


section{
    background-image: url("../img/salon-jour.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -250px;
    overflow-x: hidden;
    overflow-y: hidden;
    min-height: 100vh;
    position: relative;
}
article:first-of-type{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    text-align: center;
    align-items: center;
}
#nara-index{
    border-radius: 80px;
    padding-top: 5px;
    height: 50px;
    background-color: #1f2931;
    color: white;
    width: 50%;
}
#tv {
    background-color: #1f2931;
    opacity: 40%;
    height: 165px;
    width: 200px;
    position: absolute;
    top: 176px;
    right: 627px;
}
article:nth-of-type(2){
     display: flex;
     justify-content: space-between;
     align-items: flex-end;
     min-height: 100vh;
 }
/*  Classe taille de la table */
.table-size{
    height: 120%;
    width: 120%;
    z-index: 2;
}
/*  Table de gauche */
.tableBasse1 .table-size{
    padding: 0 50px;
}
.tableBasse1{
    position: absolute;
    height: 206px;
}
.tableBasse1 div:first-of-type {
    position: relative;
    z-index: 3;
    top: -230px;
    left: 100px;
    height: 25%;
    width: 25%;
}
.tableBasse1 div:last-of-type {
    position: relative;
    z-index: 3;
    top: -312px;
    left: 180px;
    height: 15%;
    width: 15%;
}

/* Table de droite */
.tableBasse2{
    position: absolute;
    right: 10px;
    height: 206px;
}
.tableBasse2 div {
    position: relative;
    z-index: 3;
    top: -270px;
    right: -30px;
    height: 40%;
    width: 40%;
}
.tableBasse2 .table-size{
    padding: 0 120px 0 0;
}