/* CSS de la page index */
body {
    background: black;
}
/* fond jour */
.jour {
    background-image: url("/src/img/salon-jour.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -250px;
    overflow-x: hidden;
    overflow-y: hidden;
    min-height: 100vh;
    position: relative;
}
/* fond nuit */
.nuit {
    background-image: url("/src/img/salon-nuit.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -250px;
    overflow-x: hidden;
    overflow-y: hidden;
    min-height: 100vh;
    position: relative;
}
article:first-of-type{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    text-align: center;
    align-items: center;
}
#nara-index{
    border-radius: 80px;
    padding-top: 5px;
    height: 50px;
    background-color: #1f2931;
    color: white;
    width: 50%;
    font-size: 20px;
}

#end {
    opacity: 0;
    color: white;
    position: absolute;
    left: 46%;
    top: 50%;
    font-size: xxx-large;
}

#tv {
    background-color: #1f2931;
    opacity: 40%;
    height: 165px;
    width: 200px;
    position: absolute;
    top: 176px;
    right: 627px;
}

#tv img {
    height: 180px;
    width: auto;
    opacity: 1;
}
article:nth-of-type(2){
     display: flex;
     justify-content: space-between;
     align-items: flex-end;
     min-height: 100vh;
 }
/*  Classe taille de la table */
.table-size{
    height: 120%;
    width: 120%;
    z-index: 2;
}
/*  Table de gauche */
.tableBasse1 .table-size{
    padding: 0 50px;
}
.tableBasse1{
    position: absolute;
    height: 206px;
}
.tableBasse1 div:first-of-type {
    position: relative;
    z-index: 3;
    top: -230px;
    left: 100px;
    height: 25%;
    width: 25%;
}
.tableBasse1 div:last-of-type {
    position: relative;
    z-index: 3;
    top: -312px;
    left: 180px;
    height: 15%;
    width: 15%;
}

/* Table de droite */
.tableBasse2{
    position: absolute;
    right: 10px;
    height: 206px;
}
.tableBasse2 div {
    position: relative;
    z-index: 3;
    top: -270px;
    right: -30px;
    height: 40%;
    width: 40%;
}
.tableBasse2 .table-size{
    padding: 0 120px 0 0;
}

/* objet a cliquer */
.selected {
    box-shadow: 2px 2px 5px #fff;
}

.selected:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

/* classe cachée */
.hidden {
    display: none;
}

#player {
    display: none;
}

#corona {
    opacity : 0;
    position: absolute;
    height: 100vh;
    top: 0;
    z-index: 200;
}

iframe {
    width: 100vw;
    height: 100vh;
}

.blur {
    -webkit-animation: blur 0.5s linear forwards;
    -moz-animation: blur 0.5s linear forwards;
    -ms-animation: blur 0.5s linear forwards;
    -o-animation: blur 0.5s linear forwards;
    animation: blur 0.5s linear forwards;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
}
.delay {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
}
@-webkit-keyframes blur {
    to {
        -webkit-filter: blur(5px);
        filter: blur(15px);
    }
}
@-moz-keyframes blur {
    to {
        -moz-filter: blur(5px);
        filter: blur(15px);
    }
}
@keyframes blur {
    to {
        -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        filter: blur(15px);
    }
}

#flash {
    position: absolute;
    z-index: 200;
}