#img-bg {
    background-image: url("../img/journal-open.png");
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
    overflow-y: hidden;
    min-height: 100vh;
    position: relative;
}
.caché{
    display: none;
}
img {
    position: absolute;
    top: 475px;
    left: 150px;
    z-index: 3;
}
.quest {
    position: absolute;
    top: 480px;
    right: 250px;
    z-index: 3;
    width: 500px;
    border: 1px solid gray;
    padding: 20px;
    text-align: center;
}
.quest legend {
    padding: 10px 0;
}
.quest button {
    display: block;
    width: 80%;
    margin: 10px auto 0 auto;
}
p {
    position: absolute;
    top: 705px;
    left:170px;
}
#confinement {
    background-color: #1f2931;
    position: absolute;
    color: white;
    bottom: 94px;
    left: 30%;
    text-align: center;
    width: 500px;
}

.good {
    background-color : #2ecc71;
    transition-duration: 1s;
    color:white;
}

.bad {
    background-color: #e74c3c;
    transition-duration: 1s;
    color: white;
}